<%= @photo.title %>
<% @photo.date %>
<%= image_tag @photo.file_location.url, size: "300x300", class: "img-thumbnail" %>
<%= simple_format(@photo.description) %>

<p><%= link_to 'Back to index', photos_path %></p>
